.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
wordpress/*.*
wordpress/wp-admin
wordpress/wp-includes
wordpress/wp-content/index.php
wordpress/wp-content/upgrade
wordpress/wp-content/languages
